<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>SmartShop demo </h1>

  <justified-grid [items]="items" [itemTemplate]="demoItem">
    <ng-template #demoItem let-item="item" let-index="index">
      <selectable-item [selected]="item.selected" (selectedChange)="selectItem(index, $event)" >
        <div [ngStyle]="{'background-color': item.color, 'height': '100%' }">
          #{{index}}
        </div>
      </selectable-item>
    </ng-template>
  </justified-grid>

</div>
